/* @reference "../../globals.css";

.embla__viewport {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex;
}

.embla {
  @apply h-56 w-full border;
}
.embla__slide {
  @apply embla__slide flex-shrink-0 flex-grow-0 basis-full min-w-[200px] flex flex-col items-center justify-center cursor-pointer rounded border p-4 mx-2;
} */

/* .grid_style {
  @apply embla h-56 w-full border;
} */
