@reference "../../globals.css";

.dashboardHeaderWrapper {
  @apply fixed left-0 top-0 w-full h-[3rem] flex lg:gap-70 items-center p-3 justify-between z-50 backdrop-blur-xs transition-transform duration-300 ease-in-out;

  background: transparent;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0) 100%
  );
}

.headerWrapper {
  @apply relative left-0 top-0 w-full h-[3rem] flex lg:gap-70 items-center p-3 justify-between z-50;
}

.hamburgerWrapper {
  @apply flex items-center;
}

.titleSection {
  padding: 1rem 1.5rem 2rem 1.5rem;
  margin: 0;
  background: var(--page-header-bg);
}
