@reference "../../globals.css";

.PillsWrapper {
  @apply h-auto w-full mt-2 flex flex-row;
}

.ButtonWrapper {
  @apply flex flex-col justify-between w-full items-center;
}

.LabelSpan {
  @apply text-[10px] font-medium cursor-pointer;
}

.embla__viewport {
  @apply overflow-hidden;
}

.embla__container {
  @apply flex max-w-screen;
}

.embla__slide {
  @apply flex-[0_0_100%] min-w-50 flex flex-col items-center justify-center rounded;
}

.embla {
  @apply pt-20 h-auto w-full;
}
