
.TransactionsWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.BoxWrapper {
}

.CardWrapper {
  width: 100%;
  cursor: pointer;
}

.IconWrapper {
  background: #050404;
  padding: 0.5rem;
  border-radius: 50%;
}

.TextWrapper {
  flex-grow: 1;
}
