@reference "../../globals.css";

.main {
  @apply flex flex-col gap-4 min-h-screen overflow-y-visible;
}

.accountsGrid {
  @apply h-[45dvh] grid items-center justify-items-center;
}

.transactionsListWrapper {
  @apply overflow-auto flex-1 relative;
  /* mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 90%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 90%, transparent 100%); */
}

.seeAll {
  @apply text-sm font-thin justify-center items-center flex p-1 cursor-pointer flex-shrink-0;
}

.summaryContent {
  @apply p-2;
}
