@reference "../../../globals.css";

.transactionsWrapper {
  @apply w-full h-[100%] flex flex-col;
}

.item {
  @apply p-2 cursor-pointer;
}

.text {
  @apply flex flex-col truncate font-thin;
}

.narration {
  @apply truncate font-semibold;
}

.amount {
  @apply flex items-center justify-end flex-1;
}

.debit {
  @apply font-thin text-sm;
  color: var(--red-11);
}

.credit {
  @apply font-thin text-sm;
  color: var(--green-11);
}
