:root {
  --dashboard-bg-color: hsl(0, 0%, 99%);
  --via-color: color-mix(
    in srgb,
    var(--dashboard-bg-color) 15%,
    #ffffff 85%
  );
  --via-stop: 40%;
  
  --dashboard-bottom-bg-color: #e9e7e7;
  --dashboard-bottom-blend: color-mix(
    in srgb,
    var(--dashboard-bottom-bg-color) 90%,
    var(--dashboard-bg-color) 10%
  );
  --bottom-via-stop: 90%;

  --summary-card-border-color: #d4d6d6;
  --search-input: #686767;
  --search-bg: #f5f5f5;
  --filter-pills: #ffffff;
  --filter-pills-border: #0f191d;
  --regular-text-color: #040708;
  --accent-color: #152a30;






  
  --color-background: #f7f7f7;
  --header-bg: #ffffff;

  --card-bg: rgba(255, 255, 255, 0.7);
  --card-shadow: 0 4px 16px rgba(0,0,0,0.08),
                 0 0 32px rgba(0,0,0,0.04);
  --card-shadow-hover: 0 8px 24px rgba(0,0,0,0.12),
                       0 0 48px rgba(0,0,0,0.06);

  --blue-9: #4e609e;
  --blue-10: #41528f;
  --blue-a3: #062e8c13;
  --blue-contrast: #fff;

  --gray-1: #f3f3f4;
  --gray-2: #eff0f2;
  --gray-3: #e6e6ea;
  --gray-4: #dddee2;
  --gray-6: #cdced5;
  --gray-7: #c1c2cb;
  --gray-8: #adafba;
  --gray-10: #757781;
  --gray-11: #575962;
  --gray-12: #1e1f24;
  --gray-contrast: #fff;

  --green-9: #46a758;
  --green-10: #3d9a50;
  --green-11: #297c3b;

  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
}
