@reference "../../globals.css";

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  max-width: 100vw;
}
.embla__slide
{  
  flex: 0 0 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
}

.embla {
  padding-top: 5rem;
  height: auto;
  width: full;
}

.hueButton {
  @apply w-6 h-6 rounded-full;
}
