@reference "../../../globals.css";

.card {
  @apply flex flex-col pb-4 transition-all duration-300 ease-out;

  h2 {
    @apply text-sm font-semibold px-4 shrink-0;
  }
}

.summary {
  @apply mx-6 md:px-2;
}

.default {
  @apply max-h-[30dvh] flex flex-col md:px-2;
}
