@reference "../../globals.css";

.PillsWrapper {
  @apply h-auto w-full mt-2 flex flex-row;
}

.ButtonWrapper {
  @apply flex flex-col justify-between w-full items-center;
}

.LabelSpan {
  @apply text-[10px] font-medium cursor-pointer;
}
