@reference "../../globals.css";

.Footer {
  @apply fixed left-0 bottom-0 w-full h-[4.6rem] flex gap-12 lg:gap-70 items-center rounded-tl-2xl rounded-tr-2xl justify-center z-50 
         backdrop-blur-xs;
  @apply transition-transform duration-300 ease-in-out;
  box-shadow: 0px -7px 15px rgba(120, 118, 118, 0.1);
}

.FooterVisible {
  transform: translateY(0);
}

.FooterHidden {
  transform: translateY(100%);
}
