@reference "../../globals.css";

.filters {
  @apply w-full flex items-center justify-between gap-1 px-2 max-w-[100vw] overflow-x-hidden;
}

.filters .accounts {
  @apply h-full max-w-[16rem] shrink-0;
}

.filters .dateRange {
  @apply flex items-center gap-2;

  input {
    @apply px-3 py-1 rounded-lg outline-0 text-sm;
    background: var(--search-bg);
    color: var(--search-input);
  }

  svg {
    @apply w-4 h-4;
  }
}

.filters .search {
  @apply h-full grow rounded-3xl outline-0;
  background: var(--search-bg);

  input {
    @apply outline-0 w-full;
    color: var(--search-input);
  }
}

.body {
  @apply w-full h-full flex flex-col;
}

.item {
  @apply cursor-pointer mb-2;

  svg {
    @apply w-4 h-4;

    &.debit {
      color: var(--debit-icon);
    }

    &.credit {
      color: var(--credit-icon);
    }
  }
}

.text {
  @apply flex flex-col truncate font-thin;
}

.narration {
  @apply truncate font-semibold;
}

.amount {
  @apply flex flex-1 items-center justify-end text-xs font-normal;
}

.scrollDiv {
  @apply px-2 pt-2 overflow-x-auto whitespace-nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }

  button {
    @apply inline-flex h-7 items-center cursor-pointer border select-none rounded-full text-xs font-light transition-all duration-500 ease-in-out;
    background-color: var(--filter-pills);
    border-color: var(--filter-pills-border);
    color: var(--regular-text-color);

    &.selected {
      @apply mx-2 px-6 py-1;
    }

    &.unselected {
      @apply mx-0.5 px-3 py-1;
    }

    span {
      @apply whitespace-nowrap;
    }
  }
}

.filterPillsContainer {
  @apply p-2 flex flex-wrap gap-2;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.filterPill {
  @apply inline-flex h-7 gap-1.5 px-3 py-1 items-center border cursor-pointer select-none rounded-full text-xs font-light;
  background-color: var(--filter-pills);
  border-color: var(--filter-pills-border);
  color: var(--regular-text-color);

  span {
    @apply whitespace-nowrap;
  }
}

.filterPillIcon {
  @apply w-3 h-3 shrink-0;
}
