@reference "../../globals.css";

.filters {
  @apply w-full flex items-center gap-1 px-2 max-w-[100vw] overflow-x-hidden;
  color: var(--search-bg);
}

.filters .accounts {
  @apply h-full max-w-[16rem] shrink-0;
}

.filters .dateRange {
  @apply flex items-center gap-2;

  input {
    @apply px-3 py-1 rounded-full outline-0 text-sm;
    background: var(--search-bg);
    color: var(--search-input);
  }

  svg {
    @apply w-4 h-4;
  }
}
.filters .filter {
  @apply rounded-full border font-light;
  color: var(--accent-color);
  background-color: var(--filter-bg);
}

.filters .search {
  @apply h-full grow rounded-full border;
  background: var(--search-bg);
  border-color: var(--search-border);

  input {
    @apply outline-0 w-full font-light;
    color: var(--accent-color);
  }
}


.filters .refresh {
  @apply bg-transparent border-0;
  color: var(--accent-color);
}

.body {
  @apply w-full h-full flex flex-col;
}

.item {
  @apply cursor-pointer mb-2;

  svg {
    @apply w-4 h-4;

    &.debit {
      color: var(--debit-icon);
    }

    &.credit {
      color: var(--credit-icon);
    }
  }
}

.text {
  @apply flex flex-col truncate font-thin;
}

.narration {
  @apply truncate font-semibold;
}

.amount {
  @apply flex flex-1 items-center justify-end text-xs font-normal;
}

.scrollDiv {
  @apply px-2 pt-2 overflow-x-auto whitespace-nowrap flex gap-2;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }

  button {
    @apply inline-flex h-5 items-center cursor-pointer border select-none rounded-full text-xs font-light transition-all duration-500 ease-in-out;
    background-color: var(--filter-pill-bg);
    border-color: var(--filter-pill-border);

    &.selected {
      @apply px-7 py-1;
    }

    &.unselected {
      @apply px-3 py-1;
    }

    span {
      @apply whitespace-nowrap;
    }
  }
}

.filterPillsContainer {
  @apply p-2 flex flex-wrap gap-2;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.filterPill {
  @apply inline-flex h-7 gap-1.5 px-3 py-1 items-center border-0 cursor-pointer bg-transparent select-none rounded-full text-xs font-light;

  span {
    @apply whitespace-nowrap;
  }
}

.filterPillIcon {
  @apply w-3 h-3 shrink-0;
}
