@reference "../../globals.css";

.GridWrapper {
  @apply w-full gap-1 justify-between flex items-center;
}
.AccountsFilter {
  @apply p-1 flex-shrink-0 max-w-[16rem] w-full;
}

.SearchInput {
  @apply border-0 outline-0 bg-transparent text-white flex-grow min-w-0;
}

.SearchInputWrapper {
  @apply p-1 flex flex-row items-center gap-3 bg-gray-600 rounded-2xl flex-grow min-w-0;
}

.MagnifyIconWrapper {
  @apply flex-shrink-0;
}

.DropdownIconWrapper {
  @apply flex-shrink-0;
}

.transactionsWrapper {
  @apply w-full h-[100%] flex flex-col;
}

.item {
  @apply mb-2 cursor-pointer;
}

.text {
  @apply flex flex-col truncate font-thin;
}

.narration {
  @apply truncate font-semibold;
}

.amount {
  @apply flex items-center justify-end flex-1;
}

.debit {
  @apply font-thin text-sm;
  color: var(--red-11);
}

.credit {
  @apply font-thin text-sm;
  color: var(--green-11);
}

.transactionIcon {
  width: 22px;
  height: 22px;
}

.debitIcon {
  color: var(--red-11);
}

.creditIcon {
  color: var(--green-11);
}

.MonthsScrollArea {
  @apply mt-2 sticky overflow-x-auto whitespace-nowrap mb-4;
}

.MonthButtonSelected {
  @apply inline-block cursor-pointer select-none rounded-lg ml-4 mr-4 px-6 py-1 bg-[rgba(74,85,101,1)];
}

.MonthButtonUnselected {
  @apply inline-block cursor-pointer select-none rounded-lg ml-1 mr-1 px-2 py-0 md:py-1 bg-[rgba(33,34,37,1)];
}

.MonthButtonUnselected:hover {
  @apply bg-[#562828];
}
