@reference "../../globals.css";

.transactionsFiltersWrapper {
  @apply w-full gap-1 justify-between flex items-center px-2;
}
.AccountsFilter {
  @apply p-1 shrink-0 max-w-[16rem] w-full;
}

.SearchInput {
  @apply border-0 outline-0 bg-transparent text-white grow min-w-0;
}

.SearchInputWrapper {
  @apply p-1 flex flex-row items-center gap-3 bg-gray-600 rounded-2xl grow min-w-0;
}

.MagnifyIconWrapper {
  @apply shrink-0;
}

.DropdownIconWrapper {
  @apply shrink-0;
}

.transactionsDisplayWrapper {
  @apply w-full h-full flex flex-col;
}

.item {
  @apply mb-2 cursor-pointer;
}

.text {
  @apply flex flex-col truncate font-thin;
}

.narration {
  @apply truncate font-semibold;
}

.amount {
  @apply flex items-center justify-end flex-1;
}

.debit {
  @apply font-thin text-sm;
  color: var(--red-11);
}

.credit {
  @apply font-thin text-sm;
  color: var(--green-11);
}

.transactionIcon {
  width: 22px;
  height: 22px;
}

.debitIcon {
  color: var(--red-11);
}

.creditIcon {
  color: var(--green-11);
}

.monthsScrollDiv {
  @apply pt-2 overflow-x-auto whitespace-nowrap px-2;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.monthButton {
  @apply inline-block cursor-pointer select-none rounded-lg transition-all duration-300 ease-in-out;

  &.selected {
    @apply mx-2 px-6 py-1 bg-[rgba(74,85,101,1)];
  }

  &.unselected {
    @apply mx-0.5 px-2 py-0 md:py-1 bg-[rgba(33,34,37,1)];
  }
}
