.placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 64px 32px;
}

.noData {
  font-size: 16px;
  color: var(--gray-11);
}

.comingSoon {
  font-size: 16px;
  color: var(--gray-10);
}

.icon {
  font-size: 48px;
  margin-bottom: 16px;
}

.message {
  font-size: inherit;
  color: inherit;
}
