@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

@import "./styles/base.css";

/* Design tokens */
@import "./styles/tokens.light.css";
@import "./styles/tokens.dark.css";

@import "./styles/dashboard-transition.css";
