@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

/* html, body {
  height: 100%;
  background-color: #1e3a8a;
  margin: 0;
  padding: 0;
} */
 
.radix-themes {
	--default-font-family: var(--font-open-sans);
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide
{  
  flex: 0 0 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
}

.embla {
  padding-top: 6.5rem;
  height: auto;
  width: full;
}
