@import "@radix-ui/themes/styles.css";
@import "tailwindcss";

html, body {
  overflow-x: hidden;
  /* font-family: var(--font-open-sans), sans-serif; */
}

.radix-themes {
	--default-font-family: var(--font-open-sans);
}
