@reference "../../globals.css";

.Filters {
  display: flex;
  gap: 0.5rem;
}

.TransactionsWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 5rem;
}

.DebitText {
  color: rgb(244, 121, 121);
}

.CreditText {
  color: green;
}
