/* @reference "../../globals.css";
 */

.PageGrid {
  display: grid;
  grid-template-rows: auto auto 1fr 5rem;
  height: 100vh;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: .5rem;
}

.Filters {
  display: flex;
  gap: 0.5rem;
}

.TransactionsWrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 5rem;
  overflow-y: auto;
  min-height: 0;
  /* max-height: 72dvh;  */
}

.DebitText {
  color: rgb(244, 121, 121);
}

.CreditText {
  color: green;
}
