@reference "../../../globals.css";

.summaryContainer {
  @apply flex flex-col gap-4 mx-3;
}

.cardsGrid {
  @apply grid grid-cols-2 gap-4 lg:grid-cols-4;
}

.bottomSection {
  @apply w-full rounded-2xl shrink-0;
  min-height: 200px;
}
