@reference "../../../globals.css";

.card {
  @apply rounded-2xl p-5 flex flex-col min-h-30 justify-between aspect-square border-transparent border-[0.2px];
  background: color-mix(in srgb, var(--dashboard-bottom-blend) 95%, rgb(103, 102, 102));
}

.card:hover {
  border: 0.2px solid var(--summary-card-border-color);
}

.content {
  @apply flex flex-col items-center justify-between h-full gap-1;
}

.topSection {
  @apply flex flex-col items-center gap-1;
}

.vsSection {
  @apply flex flex-col items-stretch justify-center;
}

.title {
  @apply text-xs font-medium opacity-70 text-center;
  margin: 0;
}

.value {
  @apply text-lg font-bold lg:text-2xl text-center;
  margin: 0;
}

.clickText {
  @apply text-xs opacity-50 mt-2 lg:mt-3 text-center;
  margin: 0;
}

.subtitle {
  @apply text-xs opacity-60 mt-1;
}

.vsAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 0.75rem;
  white-space: nowrap;
}

.vsLastMonth {
  width: 100%;
  text-align: right;
  font-size: 0.75rem;
}

.iconGreen {
  color: #22c55e;
}

.iconRed {
  color: #ef4444;
}
