@reference "../../globals.css";

.main {
  @apply flex flex-col gap-4 p-4 min-h-screen rounded-2xl overflow-y-visible w-[100%];
  --viaColor: color-mix(in srgb, var(--baseColor) 10%, #040914 90%);
  --viaStop: 40%;
  --bottomColor: #040914;
  --bottomStop: 90%;

  background:
    linear-gradient(
      to bottom,
      var(--baseColor) 0%,
      var(--viaColor) var(--viaStop),
      var(--bottomColor) var(--bottomStop)
    ) no-repeat,
    var(--bottomColor);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
}

.AccountsGrid {
  @apply h-[45dvh] grid items-center justify-items-center;
  
}

.Grid2 {
  @apply h-40 border-2 border-solid border-amber-600 rounded-lg grid;
}

.TransactionsGrid {
  @apply h-[40dvh] border-2 border-solid border-amber-600 rounded-2xl grid;
}

.TransactionsListWrapper {
  @apply overflow-auto max-h-[100%]
}

.Grid4 {
  @apply h-[50dvh] border-2 border-solid border-amber-600 rounded-lg grid;
}

.Grid5 {
  @apply h-[50dvh] border-2 border-solid border-amber-600 rounded-lg grid;
}

.Grid6 {
  @apply h-[50dvh] border-2 border-solid border-amber-600 rounded-lg grid;
}
